$title-font-size: 25px;

$carousel-height: 270px;
$carousel-width: 650px;


$home-content-width: 90%;
//row1

//row2
$problem-jump-width: 35%;
$tips-width: 62%;

//row3
$recent-contests-width: 50%;
$announcement-width: 47%;



.home-parent{


  .home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    .home-content{
      width: $home-content-width;

      .row1{
        padding: 20px;
        height: 300px;
        background-color: white;
        display: flex;
        align-items: center;


        .home-carousel{
          height: $carousel-height;
          width: $carousel-width;
        }

        .date-display{
          display: flex;
          flex-direction: row;
          align-self: flex-start;

          justify-content: center;
          font-size: 15px;
          color: green;
          margin-left: 30px;
          font-weight: 600;

          .month{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

          }

          .day-in-month{
            font-size: 110px;
            font-weight: 700;
            margin: 0 10px;

          }

          .day-in-week{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


          }
        }
      }

      .row1 > * {
        background-color: white;
      }

      .row2{
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .problem-jump{
          padding: 15px;
          width: $problem-jump-width;
          align-self: stretch;

          .jump-title{
            font-weight: 600;
            font-size: $title-font-size;
          }

          .jump-input{

          }

          .jump-action > *{
            margin: 0 10px 0 0;
          }
        }

        .problem-jump > *{
          margin: 5px;
        }

        .tips{
          width: $tips-width;
          align-self: stretch;
          display: flex;
          justify-content: space-around;
          align-items: center;

        }




      }

      .row2 > *{
        background-color: white;
      }

      .row3{
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .recent-contests{
          width: $recent-contests-width;
          padding: 15px;

          .contests-title{
            font-size: $title-font-size;
            font-weight: 600;


          }
        }

        .announcement{
          width: $announcement-width;
          align-self: stretch;
          padding: 15px;

          .announcement-title{
            font-size: $title-font-size;
            font-weight: 600;
          }

        }

      }

      .row3 > *{
        background-color: white;
      }



    }

    .home-content > *{
      margin: 10px;
    }



  }

}


